In [2]:
import pandas as pd
data={
    "cars":["h2","h1","h3","ev"],
    "speed":[200,260,290,330]
}
df=pd.DataFrame(data)
print(df)

  cars  speed
0   h2    200
1   h1    260
2   h3    290
3   ev    330

In [2]:
import pandas as pd
data={
    "fruits":["apple","mango","guava"],
    "rating":[5,2,4]
}
df=pd.DataFrame(data)
print(df)

  fruits  rating
0  apple       5
1  mango       2
2  guava       4

In [3]:
import pandas as pk
data={
    "student names":["jk","rp","tr"],
    "gender":["male","male","male"]
}
ko=pk.DataFrame(data)
print(ko)

  student names gender
0            jk   male
1            rp   male
2            tr   male

In [17]:
import pandas as pd

cars = {"day1": 4, "day2": 3, "day3": 0},

ok = pd.Series(cars)
print(ok)

0    {'day1': 4, 'day2': 3, 'day3': 0}
dtype: object

In [15]:
import pandas as pd

cars = {"day1": 4.5, "day2": 3.5, "day3": 9.8}

ok = pd.Series(cars)
print(ok)

day1    4.5
day2    3.5
day3    9.8
dtype: float64

In [14]:
import pandas as pd

cars = [8,9,6,0]

ok = pd.Series(cars)
print(ok)

0    8
1    9
2    6
3    0
dtype: int64